.cart-basket-header {
  align-items: center;
  background-color: #22272e;
  display: flex;
  height: 60px;
  padding: 10px 60px;
}

.cart-basket-content {
  display: grid;
  justify-content: center;
}

.cart-basket-link {
  text-decoration: none;
}

.cart-basket-btn {
  display: flex;
  width: 100%;
  margin-top: 5px;
  justify-content: center;
  padding: 10px 0;
  cursor: pointer;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  background-color: #ff9000;
}

.cart-basket-btn:hover {
  background-color: #ffa733;
}