.card-product {
  margin: 20px 80px;
}

.card-product-content {
  background-color: white;
  border-radius: 10px;
  min-height: 420px;
  padding: 20px;
  transition: all 0.2s ease-in-out;
  width: 200px;
}

.card-product-content:hover {
  transform: scale(1.05);
}

.card-product-img {
  width: 200px;
}

.card-product-title {
  display: block;
  font-size: 14px;
  font-weight: 500;
  height: 105px;

  /* https://stackoverflow.com/questions/36652580/
  how-to-add-three-dots-to-text-when-overflow-in-html/36653821 */
  overflow: hidden;
  text-align: center;
  width: 200px;
}

.card-product-price {
  font-size: 16px;
  font-weight: 500;
  margin-top: 10px;
  text-align: center;
}

.card-product-shipping {
  font-weight: 500;
  margin-top: 10px;
  text-align: center;
}

.card-product-details {
  color: #ff9000;
  display: flex;
  font-weight: 600;
  justify-content: center;
  padding-top: 20px;
}

.product-card-btn {
  background-color: #ff9000;
  border: none;
  border-radius: 10px;
  font-weight: 500;
  margin-top: 10px;
  padding: 10px 20px;
  width: 240px;
}

.product-card-btn:hover {
  background-color: #ffa733;
  cursor: pointer;
}
