header {
  align-items: center;
  background-color: #aeb3b8;
  display: flex;
  height: 60px;
  justify-content: center;
}

.home-search {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

button {
  margin: 5px;
}

