body {
  display: flex;
}

header {
  align-items: center;
  background-color: #aeb3b8;
  display: flex;
  height: 60px;
  justify-content: center;
}

.home-search {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

button {
  border-radius: 10px;
  cursor: pointer;
  margin: 5px;
  padding: 6px;
}
