.payment-title {
    margin-left: 1rem;
    padding: 1rem;
}

.payment-cart {
    margin: 1rem;
    padding: 1rem;
}

.payment-form {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
    padding: 1rem;
}

.payment-input {
    margin: 0.5rem;
    padding: 0.5rem;
    width: 20%;
}

.address {
    width: 62%;
}

.payment-select {
    height: 2rem;
    margin-top: .5rem;
    width: 20%;
}

.payment-radios {
    display: flex;
    margin: 1rem;
    padding: 1rem;
}

.payment-radios p {
    margin-bottom: 1rem;
}

.payment-card {
    margin: 1rem;
}

.payment-radios label {
    margin-right: 1rem;
}

.payment-button {
    margin: 1rem 1rem 2rem 3rem;
}