.icon-cart {
  display: flex;
  justify-content: center;
}

.ico-cart {
  font-size: clamp(30px, 1em + 3vw, 40px);
}

.count-cart {
  align-items: center;
  background-color: yellow;
  border: none;
  border-radius: 50%;
  display: flex;
  font-size: clamp(0.2em, 0.2em + 3vw, 1em);
  height: 3vw;
  justify-content: center;
  max-height: 28px;
  max-width: 28px;
  min-height: 18px;
  min-width: 18px;
  width: 3vw;
}
