.cart-items {
  align-items: center;
  border: 5px solid whitesmoke;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 16px;
  max-height: 70vh;
  overflow-y: auto;
  width: 60%;
}

.cart-header {
  align-items: center;
  display: flex;
  justify-content: center;
}

.cart-header svg {
  color: rgb(4, 41, 255);
  font-size: 26px;
  margin-left: 8px;
  transition: transform 0.2s;
}

.cart-header svg:hover {
  transform: translateX(-6px);
}

.cart-title {
  font-size: 18px;
  margin: 0 auto;
}

.cart-title i {
  text-align: center;
}

.cart-items::-webkit-scrollbar {
  width: 10px;
}

.cart-items::-webkit-scrollbar-track {
  background-color: whitesmoke;
}

.cart-items::-webkit-scrollbar-thumb {
  background-color: #cecece;
  border-radius: 15px;
}

.checkout-cart {
  align-items: center;
  display: flex;
  flex-direction: column;
}
