.categories-bar div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 250px;
  line-height: 27px;
  padding: 10px;
}

.rad-label {
  cursor: pointer;
  transition: .3s;
}

.rad-label:hover,
.rad-label:focus-within {
  background: hsla(0, 0%, 80%, .14);
}

.radio-input {
  cursor: pointer;
}
