.star-form {
  display: flex;
  justify-content: center;
}

.label-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px;
}

.email-input {
  border: none;
  border-bottom: 1px solid #757575;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  font-size: 18px;
  margin-bottom: 2%;
  margin-right: 2%;
  padding: 10px 10px 10px 5px;
  width: 300px;
}

.email-input, .textarea {
  outline: none;
}

.textarea {
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  font-size: 18px;
  margin-bottom: 2%;
  margin-right: 2%;
  padding: 10px 10px 10px 5px;
  resize: none;
  width: 640px;
}

.btn {
  background-color: rgb(240, 160, 11);
  border: none;
  border-radius: 15px;
  box-shadow: 0 0 8px rgb(207, 207, 207);
  color: rgb(253, 253, 253);
  cursor: pointer;
  font-size: 16px;
  padding: 10px 10px 10px 5px;
  transition: background-color 0.2s;
  width: 660px;
}

.btn:hover {
  background-color: rgb(221, 147, 35);
}
