.home {
  display: grid;
  grid-gap: 5px;
  grid-template: 20vh 70vh 10vh/1fr 3.5fr;
  grid-template-areas: 'header header''aside main''footer footer';
  max-height: 100vh;
}

.header-home {
  align-items: center;
  background-color: whitesmoke;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  display: grid;
  grid-area: header;
  grid-template-columns: 1fr 2fr 1fr;
  justify-content: space-between;
  z-index: 9999;
}

.header-title {
  align-items: center;
  color: rgb(240, 160, 11);
  display: flex;
  font-size: 1.3rem;
  font-weight: 700;
}

.logo-mufasa {
  border-radius: 50%;
  height: 60px;
  margin-right: 10px;
  width: 60px;
}

.header-input {
  border: none;
  border-bottom: 1px solid #757575;
  border-radius: 10px;
  font-size: 15px;
  padding: 5px;
  width: 200px;
}

.header-btn {
  background-color: white;
  border: none;
  border-bottom: 1px solid #757575;
  border-radius: 10px;
  cursor: pointer;
  padding: 5px 10px;
}

.info {
  padding: 10px;
}

.header-input:focus, .header-btn:focus {
  outline: none;
}

.header-btn:hover, .header-input:hover {
  transform: scale(1.03);
}

.header-form {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.drop-unchecked input, .drop-checked input {
  display: none;
}

.header-form label input {
  margin-right: 10px;
}

.link-cart {
  color: rgb(15, 15, 15);
  justify-self: end;
  padding-right: 10px;
}

.aside-home {
  display: grid;
  grid-area: aside;
  grid-gap: 5px 0;
  grid-template-rows: 7% 93%;
}

.drop-unchecked {
  align-items: center;
  background-color: black;
  border-radius: 5px;
  color: rgb(240, 160, 11);
  cursor: pointer;
  display: flex;
  justify-content: center;
  opacity: 0.9;
}

.drop-unchecked:hover {
  opacity: 1;
  transform: scale(1.01) translateX(6px);
}

.drop-checked {
  align-items: center;
  background-color: rgb(240, 160, 11);
  border-radius: 5px;
  color: black;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.drop-checked:hover {
  opacity: 1;
  transform: scale(1.01) translateX(6px);
}

.categories-unchecked {
  margin-left: -100vw;
  transition: all 0.5s;
  width: 0;
}

.categories-checked {
  margin-left: 0;
  transition: all 0.5s;
  width: 100%;
}

.categories-bar {
  background-color: rgb(240, 160, 11);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  overflow-y: auto;
  padding-left: 10px;
}

.categories-bar::-webkit-scrollbar {
  width: 10px;
}

.categories-bar::-webkit-scrollbar-track {
  background-color: rgb(240, 160, 11);
  border-radius: 100px;
}

.categories-bar::-webkit-scrollbar-thumb {
  background-color: hsla(39, 97%, 26%, 0.513);
  border-radius: 15px;
}

.rad-label {
  cursor: pointer;
  font-size: 22px;
  padding: 15px 0;
  transition: 0.3s;
}

.rad-label:hover, .rad-label:focus-within {
  background: hsla(39, 97%, 26%, 0.513);
  border-radius: 5px;
  transform: scale(1.05);
}

.radio-input {
  cursor: pointer;
  left: -100%;
  position: absolute;
}

.main-home {
  display: grid;
  grid-area: main;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 300px));
  justify-content: center;
  overflow: auto;
}

.main-home::-webkit-scrollbar {
  width: 20px;
}

.main-home::-webkit-scrollbar-track {
  background-color: whitesmoke;
  border-radius: 100px;
}

.main-home::-webkit-scrollbar-thumb {
  background-color: #cecece;
  border-radius: 15px;
}

.footer-home {
  align-items: center;
  background-color: whitesmoke;
  border-top: 2px solid rgba(0, 0, 0, 0.2);
  display: flex;
  grid-area: footer;
  justify-content: center;
}
