.card-method {
  margin: 4px 0;
}

.card-method input {
  margin: 0 6px 0 18px;
}

.methods-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ticket-method {
  margin: 4px 0;
}

.ticket-method input {
  margin-right: 6px;
}