.product-card {
  align-items: center;
  background-color: whitesmoke;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 8px;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.125);
  display: flex;
  flex-direction: column;
  height: 420px;
  justify-content: space-between;
  margin: 20px;
  width: 300px;
}

.shipping-free {
  align-items: center;
  background-color: white;
  color: green;
  display: flex;
  justify-content: center;
  min-height: 30px;
  width: 100%;
}

.logo-shipping {
  animation: blink 0.7s infinite;
}

@keyframes blink {

  to {
    opacity: 0.6;
  }
}

.product-spec {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.product-each {
  display: flex;
  flex-direction: column;
}

.product-title {
  margin: 0 8px 16px;
  text-align: center;
}

.product-img {
  align-items: center;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: center;
  width: 80%;
}

.movie-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.product-btn {
  background-color: rgb(240, 160, 11);
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  margin-right: 8px;
  padding: 5px;
  text-align: center;
  transition: background-color 0.2s;
  width: 100px;
}

.product-btn:hover {
  background-color: rgb(221, 147, 35);
}

.product-price {
  padding: 10px 0;
  text-align: center;
}

.product-price span {
  border-radius: 30px;
  color: rgb(18, 153, 18);
  padding: 4px;
  width: 100%;
}

.product-link {
  color: rgb(4, 41, 255);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 2%;
  text-decoration: none;
  transition: transform 0.2s;
}

.product-link:hover {
  transform: translateX(6px);
}

.product-btns {
  background-color: white;
  display: flex;
  flex-direction: row-reverse;
  height: 50px;
  justify-content: space-between;
  padding: 10px 0;
  text-align: center;
  width: 300px;
}

.product-btn:active {
  transform: scale(0.98);
}

.product-btn:focus {
  outline: none;
}
