.rating-fieldset {
  max-width: 95%;
}

.email-and-star-container {
  display: flex;
  max-width: 50%;
}

.rating-form {
  display: flex;
  flex-direction: column;
}

.rating-form-email {
  max-width: 40%;
}

.rating-form-textarea {
  max-width: 50%;
}

.rating-form-button {
  max-width: 7%;
}

li {
  list-style-type: none;
}
