::-webkit-scrollbar {
  position: relative;
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0);
}

::-webkit-scrollbar-thumb {
  background: var(--old-lavender);
  border-radius: 3px;
}

:root {

  --persian-green: rgba(27, 153, 139, 1);

  --magnolia: rgba(248, 241, 255, 1);

  --thistle: rgba(222, 205, 245, 1);

  --old-lavender: rgba(101, 97, 118, 1);

  --dark-liver: rgba(83, 77, 86, 1);

  --red-munsell: rgb(234, 53, 70);

  --highland: rgb(211, 237, 202);

  --oxley: rgb(110, 155, 120);

  --tanawera: rgb(8, 42, 69);

}

::-webkit-scrollbar-thumb:hover {
  background: var(--dark-liver);
}

html, * {
  box-sizing: border-box;
  scroll-behavior: smooth;
}


.App {
  color: var(--tanawera);
  text-align: center;
}

.body {
  position: relative;
  top: 140px;
  z-index: 0;
}

.search-bar p {
  margin: 0;
}

.green {
  color: var(--persian-green);
}

.red {
  color: var(--red-munsell);
}

.categories-bar {
  background-color: var(--highland);
  border-radius: 0 5px 5px 0;
  box-shadow: 0 1px 2px 1px var(--old-lavender);
  display: flex;
  flex-direction: column;
  left: 0;
  padding: 1%;
  position: absolute;
  text-align: left;
  top: 0;
  width: 20%;
}

.category-title {
  margin-bottom: 10px;
  margin-top: 0;
  text-align: center;
}

.page-header {
  align-items: center;
  background-color: var(--oxley);
  display: flex;
  justify-content: space-around;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  left: 25%;
  position: absolute;
  width: 75%;
}

.product-card {
  align-items: center;
  border: 1px solid var(--tanawera);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0.5%;
  padding: 1%;
  transition: all 0.2s;
  width: 22%;
}

.added {
  outline: 2px solid var(--persian-green);
}

.product-card:hover {
  transform: scale(1.01);
  transition: all 0.2s;
}

.price-shipping {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.shipping {
  width: 30%;
}

.product-cover {
  flex-shrink: 0;
  height: 150px;
  width: 150px;
}

.button {
  border: none;
  border-radius: 2px;
  box-shadow: 1px 1px 1px 1px var(--old-lavender);
  cursor: pointer;
  padding: 0;
  transition: 0.3s;
}

.button * {
  color: var(--magnolia);
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 10px;
  text-decoration: none;
  transition: 0.3s;
}

.cart-btn a, .checkout-btn a {
  padding: 0;
}

.return-button a, .complete-btn a {
  padding: 0;
}

.button a:visited {
  color: var(--tanawera);
}

.button:active {
  box-shadow: none;
  transform: translate3d(1px, 1px, 0);
}

.add-button, .search-btn, .cart-btn, .submit-btn, .checkout-btn, .complete-btn {
  background-color: var(--persian-green);
  margin: 5px;
}

.submit-btn, .complete-btn {
  align-self: center;
  width: fit-content;
}

.return-button {
  align-self: center;
  background-color: var(--persian-green);
  border-radius: 2px;
  box-shadow: 1px 1px 1px 1px var(--old-lavender);
  margin: 5px;
  width: fit-content;
}

.add-button *, .search-btn *, .cart-btn *, .submit-btn *, .checkout-btn * {
  color: var(--magnolia);
}


.remove-btn * {
  color: var(--highland);
}

.review * {
  margin: 10px;
}

.add-button *:hover, .search-btn *:hover, .cart-btn a:hover, .submit-btn *:hover {
  background-color: rgba(255, 255, 255, 0.5);
  color: var(--tanawera);
  transition: 0.3s;
}

.checkout-btn *:hover, .complete-btn *:hover, .return-button *:hover {
  background-color: rgba(255, 255, 255, 0.5);
  color: var(--tanawera);
  transition: 0.3s;
}

.cart-btn span {
  background-color: var(--oxley);
  border-radius: 50%;
  color: var(--magnolia);
  padding: 3px 7px;
  position: absolute;
}

.cart-btn i {
  font-size: 1.5em;
  padding: 0;
}

.search-input, .eval-input, .evaluation {
  background-color: var(--highland);
  border-bottom: 1px solid var(--tanawera);
  border-left: 1px solid rgba(255, 255, 255, 0);
  border-radius: 2px;
  border-right: 1px solid rgba(255, 255, 255, 0);
  border-top: 1px solid rgba(255, 255, 255, 0);
  padding: 8px;
  transition: 0.2s;
}

.evaluation {
  height: 75px;
  resize: none;
}

.rating-label {
  font-weight: 600;
  margin: 10px auto;
}

.rating-label p {
  font-weight: 500;
  margin: 0;
}

.search-input:focus, .eval-input:focus, .evaluation:focus {
  background-color: var(--oxley);
  border: 1px solid var(--tanawera);
  outline: none;
  transition: 0.2s;
}

::placeholder {
  font-size: 0.9em;
  font-style: italic;
}

.product-details {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px;
}

.details {
  border: 1px solid var(--tanawera);
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 600px;
}

.rating {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: fit-content;
}

.details-img {
  max-height: 500px;
  max-width: 50%;
}

.image-container {
  width: 50%;
}

.column {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.cart-item {
  align-items: center;
  border: 1px solid var(--tanawera);
  display: flex;
  margin: 10px auto;
  width: 650px;
}

.btn-name-container {
  width: 400px;
}

.cart-btns-container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.product-qty {
  margin: 0;
  width: 50px;
}

.product-price {
  width: 100px;
  word-wrap: break-word;
}

.remove-btn {
  background-color: var(--red-munsell);
}

.remove-btn *:hover {
  background-color: rgba(255, 255, 255, 0.5);
  color: var(--tanawera);
  transition: 0.3s;
}

.payment-icon {
  width: 50px;
}

.payment {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.form, .forms {
  display: flex;
  flex-direction: column;
}

.forms {
  border: 1px solid var(--tanawera);
  padding: 10px;
  width: 30%;
}

.row {
  display: flex;
  justify-content: center;
}

.data-input {
  width: 200px;
}

.payment-label {
  align-items: center;
  display: flex;
}

.cart-items-checkout {
  border: 1px solid var(--tanawera);
  height: fit-content;
  max-height: 70vh;
  overflow-y: scroll;
  padding: 5px;
  width: fit-content;
}

.cart-items {
  border: 1px solid var(--tanawera);
  height: fit-content;
  margin: auto;
  max-height: 70vh;
  overflow-y: scroll;
  padding: 5px;
  width: fit-content;
}

.checkout {
  display: flex;
  justify-content: space-around;
  padding: 50px;
}

.reviews {
  left: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  right: 0;
  top: 100%;
  width: 60%;
}

.review {
  align-items: center;
  border: 1px solid var(--tanawera);
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
}

.review span {
  font-weight: 300;
}

.review-comment {
  font-weight: 500;
  text-align: justify;
}

.gif-faustao {
  border-radius: 50%;
}

.logo {
  height: 8vh;
}
