.App {
  text-align: center;
}

/* Início dos estilos do componente RatingForm */

.rating-form {
  display: flex;
  flex-flow: column nowrap;
  gap: 5px;
  border: 1px solid black;
  padding: 10px;
}

.rating-form div {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.rating-form label {
  display: flex;
}

/* Fim dos estilos do componente RatingForm */

/* Início dos estilos do componente StarsRating */

.star {
  border: none;
  background-color: unset;
}

.filled {
  color: #E0D14F;
}

/* Fim dos estilos do componente StarsRating */